<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
</head>
<body>
    <p>{{ message }}</p>
    <table border="1" style="border-collapse: collapse; width: 50%;">
        {% for row in table_data %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <p>Oto przykładowe zdjęcie:</p>
    <img src="cid:image1" alt="Przykładowe Zdjęcie">
</body>
</html>
